@media (max-width:328px) {
    header {
        background-image: url(../img/fundo.jpg);
        background-position: center left;
        grid-template-columns: none;
        height: 7em;


    }

    header .botoes {
        font-size: 1em;
        gap: 0.5em;
        height: 100%;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        max-width: 20%;
    }

    button {
        font-size: 0.6em;
        width: 8em;
        height: 3em;
    }

    .nav-games {

        height: 150px;

    }

    aside {
        flex-wrap: wrap;
        gap: 2em;
        width: 100%;
        margin: 10px;
    }

    aside img {
        max-width: 40px;
    }

    #valorant {
        display: flex;
        flex-direction: column;
        height: 400px;

    }

    #valorant article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #valorant article h1 {
        font-size: 1.5em;
    }

    #valorant article p {
        font-size: 1em;
    }

    #valorant article button {
        font-size: 0.7em;
    }

    #cs2 {
        display: flex;
        flex-direction: column;
        height: 400px;

    }

    #cs2 article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #cs2 article h1 {
        font-size: 1.5em;
    }

    #cs2 article p {
        font-size: 1em;
    }

    #cs2 article button {
        font-size: 0.7em;
    }

    #diablo {
        display: flex;
        flex-direction: column;
        height: 400px;

    }

    #diablo article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #diablo article h1 {
        font-size: 1.5em;
    }

    #diablo article p {
        font-size: 1em;
    }

    #diablo article button {
        font-size: 0.7em;
    }

    #dont {
        display: flex;
        flex-direction: column;
        height: 400px;

    }

    #dont article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #dont article h1 {
        font-size: 1.5em;
    }

    #dont article p {
        font-size: 1em;
    }

    #dont article button {
        font-size: 0.7em;
    }

    footer {
        height: 2em;
    }
}

@media (min-width:329px) and (max-width:480px) {
    header {
        background-position: center left;
        grid-template-columns: none;
        height: 7em;
    }

    header .botoes {
        font-size: 1em;
        gap: 0.5em;
        height: 100%;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        max-width: 20%;
    }

    button {
        width: 8em;
        height: 3em;
    }

    .nav-games {

        height: 150px;

    }

    aside {
        flex-wrap: wrap;
        gap: 2em;
        width: 100%;
        margin: 10px;
    }

    aside img {
        max-width: 40px;
    }

    main {
        gap: 3em 0em;
    }

    #valorant img {
        border-radius: 20px;
        border: solid 2px;
        margin: 10px;
        max-width: 93%;
    }

    #valorant {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 1em;
        margin: 20px;
    }

    #valorant article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }

    #valorant article h1 {
        font-size: 1.5em;
    }

    #valorant article p {
        font-size: 1em;
        padding: 5px;

    }

    #valorant article button {
        font-size: 0.7em;
    }

    #cs2 img {
        border-radius: 20px;
        border: solid 2px;
        margin: 10px;
        max-width: 93%;
    }

    #cs2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 1em;
        margin: 20px;
    }

    #cs2 article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #cs2 article h1 {
        font-size: 1.5em;
    }

    #cs2 article p {
        text-align: center;
        font-size: 1em;
    }

    #cs2 article button {
        font-size: 0.7em;
    }

    #diablo img {
        border-radius: 20px;
        border: solid 2px;
        margin: 10px;
        max-width: 93%;
    }

    #diablo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 1em;
        margin: 20px;
    }

    #diablo article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #diablo article h1 {
        font-size: 1.5em;
    }

    #diablo article p {
        text-align: center;
        font-size: 1em;
    }

    #diablo article button {
        font-size: 0.7em;
    }

    #dont img {
        border-radius: 20px;
        border: solid 2px;
        margin: 10px;
        max-width: 93%;
    }

    #dont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        gap: 1em;
        margin: 20px;
    }

    #dont article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    #dont article h1 {
        font-size: 1.5em;
    }

    #dont article p {
        text-align: center;
        font-size: 1em;
    }

    #dont article button {
        font-size: 0.7em;
    }

    footer {
        height: 5em;
    }
}

@media (min-width:481px) and (max-width:900px) {
    header {
        background-position: center left;
    }

    header .botoes {
        font-size: 1.2em;
        gap: 0.5em;
    }

    .logo img {
        max-width: 80%;
    }

    .nav-games {
        height: 150px;
    }

    aside {
        flex-wrap: wrap;
        gap: 4em;
        width: 100%;
        margin: 10px;
    }

    aside img {
        max-width: 50px;
    }
    
    #valorant {
        display: flex;
        flex-direction: column;
    }

    #valorant article h1 {
        font-size: 2.5em;
    }

    #valorant article p {
        font-size: 1.3em;
    }

    #valorant article button {
        font-size: 1em;
    }

    #cs2{
        display: flex;
        flex-direction: column;
    }
    #cs2 article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    #cs2 article h1 {
        font-size: 2.5em;
    }

    #cs2 article p {
        font-size: 1.3em;
    }

    #cs2 article button {
        font-size: 1em;
    }

    #diablo{
        display: flex;
        flex-direction: column;
    }
    #diablo article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    #diablo article h1 {
        font-size: 2.5em;
    }

    #diablo article p {
        font-size: 1.3em;
    }

    #diablo article button {
        font-size: 1em;
    }
    #dont{
        display: flex;
        flex-direction: column;
    }
    #dont article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    #dont article h1 {
        font-size: 2em;
    }

    #dont article p {
        font-size: 1.3em;
    }

    #dont article button {
        font-size: 1em;
    }
}

